<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Qlearn{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/png">
</head>
<body>
    <header>
        <nav>
            <h1>Qlearn</h1>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout_check' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login_check' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2024 Qlearn. All rights reserved.</p>
    </footer>
</body>
</html>
