{% extends 'quizzes/base.html' %}

{% block title %}Quiz - {{ topic_name }}{% endblock %}

{% block content %}
  <div class="quiz-container">
    <h1 class="quiz-title">Quiz - {{ topic_name }}</h1>
    <form method="post" class="quiz-form">
      {% csrf_token %}
      {% for question in questions %}
        <div class="question-block">
          <h2 class="question-text">{{ question.question }}</h2>
          {% for choice in question.choices %}
            <div class="choice-block">
              <input type="radio" id="{{ choice }}" name="{{ forloop.parentloop.index0 }}" value="{{ choice }}" class="choice-input">
              <label for="{{ choice }}" class="choice-label">{{ choice }}</label>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="submit-button">Submit Quiz</button>
    </form>
  </div>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'quizzes/css/quiz.css' %}">
{% endblock %}
