{% extends 'base.html' %}

{% block title %}{{ topic_name }} Quiz - Qlearn{% endblock %}

{% block content %}
    <h2>{{ topic_name }} Quiz</h2>
    <form method="POST" action="{% url 'submit_quiz' topic_name=topic_name %}">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                <p>{{ question.question }}</p>
                {% for choice in question.choices %}
                    <label>
                        <input type="radio" name="{{ forloop.counter0 }}" value="{{ forloop.counter0 }}">
                        {{ choice }}
                    </label>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit Quiz</button>
    </form>
{% endblock %}
